$breakpoints: (
				'xs-phone': 580px,
				'phone': 640px,
				'tablet': 768px,
				'tablet-x': 992px,
				'desktop': 1024px,
				'widescreen': 1200px,
				'widescreen-large': 1400px,
);


@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';
@import 'vendors/bootstrap';
@import 'vendors/fontawesome';
@import 'vendors/fontawesomefive';
@import 'vendors/slick';


@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'vendors/sociallinks';

body{
	font-size: 14px;
	line-height: 18px;
	font-family: $raleway;
	color: #fff;
	background-color: #1C252C;
	background-image: url("../images/frame-bg.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;


	&.nav-active{
		overflow: hidden;
		#nav{
			opacity: 1;
			visibility: visible;
		}
	}

	&.award-active{
		overflow:hidden;

		.award-holder{
			opacity: 1;
			visibility: visible;
		}
	}

	canvas#canvas{
		position: absolute;

		&:after{
			content: '';
			background-image: url("../images/frame-bg.svg");
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
		}

	}
}

button,
a{
	color: #fff;
	@include ease;
	text-decoration: none;

	&:focus{
		outline: none;
		box-shadow: none;

	}

	&:hover{
		color: #05FDD8;
	}
}

.btn{
	background: #05FDD8;
	color: #1E2630;
	font-size: 12px;
	line-height: 36px;
	height: 40px;
	padding: 0 15px;
	min-width: 120px;
	border-radius: 2px;
	font-weight: 600;
	letter-spacing: 0.5px;
	border: 2px solid #05FDD8;

	&:hover{
		background: transparent;
		color: #05FDD8;

	}

	&.btn-play{
		min-width: auto;
		width: 65px;
		height: 65px;
		padding: 0;
		border-radius: 50%;
		font-size: 85px;
		background: none;
		border:none;
		@include flex-align-center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		color: #05FDD8;
		overflow: hidden;
	}

}

#wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;

}



.container{
	max-width: 100%;
	padding: 0 100px;

	@include media ("<widescreen"){
		padding: 0 20px;
	}

	@include media ("<tablet"){
		padding: 0 15px;
	}
}

#header{
	@extend %clearfix;
	position: relative;
	background: rgba(0,0,0,0.05);
	min-height: 100vh;


	.container{
		@include media ("<widescreen"){
			padding: 0 80px;
		}

		@include media ("<phone"){
			padding: 0 15px 0 50px;
		}
	}

	.top-header{
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid rgba(255,255,255,0.1);

		.btn{
			min-width: auto;
			width: 60px;
			height: 60px;
			position: absolute;
			top: 0;
			right: 0;
			background: #288985;
			border: none;
			color: #fff;
			border-radius: 0;
			font-size: 12px;
			line-height: 16px;
			font-weight: 500;
			padding: 0;
			@include flex-align-center;
			flex-direction: column;
			letter-spacing: 0.5px;


			i{
				font-size: 23px;
				display: block;
			}
		}
	}

	.main-header{
		padding: 50px 0;

		@include media ("<phone"){
			padding: 20px 0 0;
		}

		.banner-text{
			padding: 50px 0;
			max-width: 900px;
			position: relative;

			@include media ("<phone"){
				padding: 20px 0 50px;
			}


			h1{
				color: #fff;
				font-size: 65px;
				line-height: 75px;

				@include media ("<widescreen"){
					font-size: 40px;
					line-height: 50px;
				}

				@include media ("<phone"){
					font-size: 22px;
					line-height: 28px;
				}

				strong{
					font-weight: 700;
					color: #05FDD8;
					text-shadow: 5px 0px 0px #F12858;
				}
			}
		}

		.logo-slider{
			max-width: 600px;

			.logo-box{
				height: 100px;
				@include flex-align-center;
				padding: 10px;

				img{
					@include img-reset;
					width: auto;
					max-height: 50px;
				}
			}
		}
	}



}

.img-box{
	position: relative;

	img{
		@include img-reset;
	}
}

.award-btn{
	position: absolute;
	bottom: 100px;
	right: -46px;
	transform: rotate(-90deg);
	padding: 0 20px;
	background:rgba(5, 253, 216, 0.1);
	font-weight: 600;
	letter-spacing: 0.5px;
	border-radius: 15px 15px 0 0;
	display: block;

	&:hover{
		background: #05FDD8;
		color: #30393F;
	}


	img{
		transform: rotate(90deg);
		width: 24px;
		margin: 0 0 0 9px;
	}
}

.tagcloud{
	width: 600px !important;
	height: 600px !important;

	@include media ("<tablet-x"){
		font-size: 16px !important;
	}

	@include media ("<tablet-x"){
		margin: 50px auto;

	}

	@include media ("<tablet"){
		width: 400px !important;
		height: 400px !important;

	}

	@include media ("<phone"){
		width: 350px !important;
		height: 350px !important;
		font-size: 14px !important;

	}

}

.logo{
	width: 110px;
	height: 110px;
	color: #fff;
	position: relative;

	@include media ("<phone"){
		width: 80px;
		height: 80px;
	}

	svg {
		fill: #fff;
		transform-origin: center;
		animation-name: TextRotate;
		animation-duration: 15s;
		animation-iteration-count: infinite;

		@include media ("<phone"){
			width: 80px;
			height: 80px;
		}
	}

	a{
		display: block;

	}

	i{
		width: 36px;
		height: 36px;
		position: absolute;
		@include flex-align-center;
		top: 50%;
		left: 50%;
		margin: -18px 0 0 -18px;
		font-size: 20px;
		color: #05FDD8;
		border-radius: 50%;
		animation-name: FadeColor;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}

	@keyframes FadeColor {
		0% {
			background-color: rgba(0,0,0,0.02);
		}

		50% {
			background-color: rgba(0,0,0,0.5);
		}

		100%{
			background-color: rgba(0,0,0,0.02);
		}
	}

	@keyframes TextRotate {
		0% {
			transform: rotate(0);
		}

		50% {
			transform: rotate(180deg);
		}

		100%{
			ransform: rotate(0);
		}
	}
}
.about{
	@include media ("<tablet-x"){
		display: block;

		.col{
			width: 100%;
		}

	}
}




.line-box {
	overflow: hidden;
	padding: 21px 0;
	width: 100%;
	color: #fff;
	letter-spacing: 1px;



	.line-wrap {
		width: 999px;
		float: left;
	}

	p {
		margin: 0;
		padding: 0 20px;
		position: relative;

		&:after{
			position: absolute;
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			overflow: hidden;
			background: #05FDD8;
			top: 5px;
			left: -3px;
		}
	}

}

.nav-sidebar{
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	width: 60px;
	background: rgba(255,255,255,0.1);
	z-index: 10;

	@include media ("<phone"){
		width: 40px;
	}
}

.nav-opener{
	@include flex-align-center;
	width: 60px;
	height: 60px;
	color: #fff;
	font-size: 24px;

	@include media ("<phone"){
		width: 40px;
	}
}

#nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("../images/nav-bg.jpg") no-repeat;
	background-size: cover;
	z-index: 99;
	@include flex-align-center;
	opacity: 0;
	visibility: hidden;
	@include ease;

	.nav{
		@extend %listreset;
		position: relative;
		overflow: hidden;
		display: block;

		li{
			margin: 0 0 20px;
		}

		a{
			font-size: 20px;
			line-height: 24px;
			padding: 5px 20px;
			position: relative;
			font-weight: 600;
			border-left: 2px solid #05FDD8;
			display: inline-block;
			vertical-align: top;

			&:hover{
				background: #05FDD8;
				color: #30393F;
			}
		}
	}

	.nav-box{
		max-width: 500px;

		h1{
			font-size: 40px;
			line-height: 46px;
			margin: 0 0 50px;
		}
	}

	.social-links{
		position: relative;
		flex-direction: row;
	}

	.nav-opener{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 36px;
	}
}

#main{
	position: relative;
	overflow: hidden;
	padding: 0 0 0 60px;

	@include media ("<tablet"){
		padding: 0 0 0 60px;
	}

	@include media ("<phone"){
		padding: 0 0 0 40px;
	}
}

.section{
	padding: 100px 0;
	position: relative;
	overflow: hidden;

	@include media ("<phone"){
		padding: 50px 0;

		h1{
			font-size: 22px;
		}
	}
}

.portfolio{
	.section-header{
		padding: 50px;
		position: relative;
		z-index: 1;

		@include media ("<tablet-x"){
			padding: 50px 0;
		}


		&:after{
			position: absolute;
			content: '';
			width: 9999px;
			left: 50%;
			height: 100%;
			margin: 0 0 0 -4999px;
			background: rgba(0,0,0,0.1);
			top: 0;
			z-index: -1;
		}
	}
}

#footer{
	position: relative;
	overflow: hidden;

	.container{
		overflow: hidden;
		padding: 0 0 0 60px;

		@include media ("<phone"){
			padding: 0 0 0 40px;
		}

		.row{
			margin: 0;

			@include media ("<tablet-x"){
				display: block;
			}
		}

		.col{
			padding: 0;
			max-width: 50%;

			@include media ("<tablet-x"){
				max-width: 100%;
			}

			&:first-child{
				padding: 100px;
				background: rgba(0,0,0,0.1);
				display: flex;
				align-items: center;

				@include media ("<widescreen"){
					padding: 20px;
				}
			}

			.img-box{
				height: 100%;
			}
		}

	}


	.col1{

	}

	img{
		display: block;
		margin: 0;
	}
}

.award-holder{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100vh;
	background: url("../images/nav-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 100px 0;
	z-index: 100;
	@include ease;
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;

	.container{
		@include media ("<desktop"){
			padding: 0 !important;

		}
	}



	.award-btn{
		@include flex-align-center;
		width: 50px;
		height: 50px;
		color: #fff;
		background: none;
		bottom: auto;
		top: 22px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 30px;
		padding: 0;
	}

	.btn-play{
		@include flex-align;

		&:hover{
			i{
				background: rgba(5, 253, 216, 1);
				color: #fff;
			}
		}

		i{
			margin: 0 10px 0 0;
			width: 40px;
			height: 40px;
			font-size: 14px;
			border-radius: 50%;
			background: rgba(5, 253, 216, 0.1);
			@include flex-align-center;
			@include ease;
		}
	}

	.col{
		padding: 0 100px;

		@include media ("<phone"){
			padding: 20px;

		}
	}

	.row{
		@include media ("<phone"){
			display: block;
			margin: 0;
		}
	}

	.social-links{
		position: relative;
		flex-direction: row;
		width: 100%;
		padding: 150px 0 0;

		@include media ("<desktop"){
			padding: 50px 0 0;
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

.award-list{
	@extend %listreset;
	position: relative;
	counter-reset: my-awesome-counter;

	@include media ("<phone"){
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	li{
		display: block;
		counter-increment: my-awesome-counter;
		padding: 0 0 25px 30px;
		position: relative;

		&:before {
			content: "0"counter(my-awesome-counter) ;
			color: #05FDD8;
			font-weight: bold;
			font-size: 12px;
			position: absolute;
			top: 0;
			left: 0;
			letter-spacing: 1px;
		}

		span{
			color: #353C46;
			font-size: 40px;
			line-height: 50px;
			font-weight: 900;
			letter-spacing: 2px;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: rgba(255,255,255,0.5);

			@include media ("<desktop"){
				font-size: 30px;
				line-height: 38px;
			}
		}
	}
}


.profile-holder{
	position: relative;
	overflow: hidden;
	padding: 0 15px;

	.row{
		@include media ("<tablet-x"){
			display: block;
		}
	}

	.col{
		position: relative;
		padding: 15px !important;

		@include media ("<tablet-x"){
			width: 100% !important;
		}
	}

	.scrollspy-example {
		position: relative;
		height: 100vh;
		margin-top: .5rem;
		overflow: auto;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		@include media ("<tablet-x"){
			height: auto;
		}

		::-webkit-scrollbar {
			display: none;
		}


		.box{
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@include media ("<tablet-x"){
				height: auto;
				margin: 0 0 50px;
			}
		}
	}

	.list-group {
		height: 100vh;

		@include media ("<tablet-x"){
			height: auto;
			display: none;
		}


		a {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			@include flex-align-center;
			padding: 50px;
			border: none;
			background: none;

			@include media ("<tablet-x"){
				padding: 0;
				position: relative;
			}

			&.active{
				background: none;

				img{
					display: block;
				}
			}

			img{
				max-width: 80%;
				display: none;
			}
		}
	}
}

.c-info{
	text-align: center;
	padding-bottom: 0;

	.container{
		max-width: 700px;
	}

	.section-header{
		text-align: center;
		position: relative;
		padding: 50px 0;

		&:after {
			position: absolute;
			content: "";
			width: 9999px;
			left: 50%;
			height: 100%;
			margin: 0 0 0 -4999px;
			background: rgba(0, 0, 0, 0.1);
			top: 0;
			z-index: -1;
		}
	}

	.c-logo{
		max-width: 200px;
		margin: 50px auto 30px;

		a{
			display: block;
		}

		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
}






