// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.form-group{
  margin: 0 0 20px;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #05FDD8;
  font-size: 14px;
  height: 40px;
  line-height: 39px;
  padding: 0;
  color: #fff;
  @include ease;

  // &:hover {
    
  // }

  &:focus {
    border-color: #05FDD8;
    background: rgba(255,255,255,0.05);
    padding: 0 15px;
    box-shadow: none;
    color: #fff;
  }

  @include placeholder {
    color: $placeholder-color;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

